@import url(./reset.css);
@import url(./variables.css);

.calculator {
    border-radius: 10px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15), 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    margin-inline-start: auto;
    margin-inline-end: auto;
    margin-block-start: 2em;
    max-inline-size: 22rem;
    overflow: hidden;
    color: var(--color-light-grey);
}

.display {
    background: var(--color-bg);
    color: var(--color-light);
    font-size: 4.2rem;
    padding-block-start: 3rem;
    padding-block-end: 0.5rem;
    padding-inline-end: 1.25rem;
    text-align: end;
}

.display input{
    border: none;
    outline: none;
    text-align: end;
    background-color: transparent;
    color: var(--color-light);
    font-size: 1.5rem;
}

.calc-keys-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1px;
    background: var(--color-bg);
    padding: 0.5rem;
}

.calc-key {
    background: var(--color-bg-variant);
    border: none;
    padding-block-start: 1rem;
    padding-block-end: 1rem;
    padding-inline-end: 1.25rem;
    padding-inline-start: 1.25rem;
    font-size: 1.5rem;
    inline-size: 70px;
    block-size: 70px;
    margin: 0.25rem;
    border-radius: 40px;
}
.AC{
    color: var(--color-light);
    background-color: var(--color-light-grey);
}
.calc-key:active,
.calc-key:focus {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3) inset;
    outline: none;
}

.calc-key--operator {
    background: var(--color-optr);
}

.calc-key--operator:active {
    background: var(--color-optr2);
}

.calc-key--enter {
    grid-column: 4 / 5;
    grid-row: 2 / span 4;
    background: var(--color-enter);
    height: auto;
}